body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.background {

  max-width:100%;
  width:100%;
  height: 100vh;
    
  background: #aa4b6b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  overflow: hidden;

}

.widget-outer {
  background: rgba(34, 33, 33, 0.555);  
  margin-top: 8vh;
  margin-bottom: 8vh;

  display: block;
  margin-left: auto;
  margin-right: auto;

  height: 75%;
  width: 80%;

  position: relative;
}

.Container{
  height: 100%;
  width: 100%;
}

div.row {
  height: 100%;
  width: 100%;
}

.Column {
  height: 100%;
  width: 100%;
}

.leftPart {
  background: url("https://images.idgesg.net/images/article/2018/10/cyber-security_lock_padlock_firewall_code_breach_password-100777447-large.jpg");
  height: 95%;
  width: 93%;
  background-size: cover;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;

  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #f16051;
  width: 30%;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

.rightPart {
  margin-top: 1vh;
  height: 95%;
  width: 88%;
  background-size: cover;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: #000;

  /* position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); */
}